* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
.padding2em {
  padding: 2em;
}
.return-icon:hover {
  color: #1de9b6;
}
/* Clases para los avatares*/
.avatar-lg {
  width: 130px;
  height: 120px;
  border: 2px dashed #1de9b6;
}
.avatar-xs {
  width: 50px;
  height: 50px;
  border: 2px dashed #1de9b6;
}
/* Clases para los contadores */
.counter {
  font-weight: bolder;
  font-size: 36px;
}
.followers-container p, .following-container p {
  font-weight: 500;
}
.padding {
  padding-top: 1.2em;
}
/* Clase para la insignia */
.selector {
  border: 2px solid #1de9b6;
  border-radius: 10px;
  display: inline-flex;
  padding: 0.5em;
}
/* Clase para el nombre de usuario */
.username p {
  font-size: 32px;
  letter-spacing: 4px;
}
/* Clases para contenedor de fotos*/
.photos-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.square {
  background-color: transparent;
  height: 8em;
  width: 8em;
  margin: 8px;
}
