<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>PETSBOOK</title>
	<!--Import Favicon-->
	<link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon" />
	<!--Import Icons-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!--Import materialize.css-->
	<link href="../vendors/materialize/css/materialize.css" type="text/css" rel="stylesheet" />
	<!-- Import style.css-->
	<link rel="stylesheet" type="text/css" href="../css/dashboard.css">
</head>

<body>
  <section>
    <div class="container-homepage">
      <div class="row">
				<div class="col s12 m12 l12">
					<div id="title" class="welcome-text">
            <h4>Bienvenido, Huellitas</h4>
					</div>
					<div id="menu" class="">
						<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons ">menu</i></a>
					</div>
					<!-- sideNav -->
					<ul id="slide-out" class="side-nav">
						<li><div class="user-view">
							<div class="background">
								<img src="../assets/images/slider1.jpg">
							</div>
							<a href="#!user"><img class="circle" src="../assets/images/dog-perfil.jpg"></a>
							<a href="#!name"><span class="white-text name">Huellita</span></a>
						</div></li>
						<li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
						<li><a href="#!">Second Link</a></li>
					<li><div class="divider"></div></li>
					<li><a class="subheader">Subheader</a></li>
					<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
				</ul>

		<!-- sideNav end -->
					<div id="avatar" class="hide">
						<div class="avatar">
							<figure class="col s2 marginout">
							<img src="../assets/images/dog-perfil.jpg" alt="" class="circle avatar-xs">
							</figure>
						</div>
					</div>
				</div>
				<hr>
	
				<div class="col s12 m12 l12">
					<form class="col s12 m12 l12 ">
						<div class="row padding">
							<div class="input-field col s12 m12 l12 container">
								<textarea id="textarea1" class="materialize-textarea"></textarea>
								<label for="textarea1">
										<span class="padding">¿Que cosas divertidas hiciste hoy?</span>
								</label>
								<div class="row">
										<div class="col s12">
											<span><i class="material-icons">add_a_photo</i></span>
										</div>
									</div>
							</div>
						</div>
					</form>
				</div>
      </div>
    </div>
  </section>


  <!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
	<!--Import materialize.js-->
	<script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
	<!-- app.js-->
	<script type="text/javascript" src="../js/dashboard.js"></script>
</body>

</html>