<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>PETSBOOK</title>
  <!--Import Favicon-->
  <link href="../assets/images/favicon.png" type="image/x-icon" rel="shortcut icon" />
  <!--Import Icons-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!--Import materialize.css-->
  <link href="../vendors/materialize/css/materialize.css" type="text/css" rel="stylesheet" />
  <!-- Import style.css-->
  <link href="../css/main.css" type="text/css" rel="stylesheet">
</head>

<body>
  <div class="slider fullscreen">
    <ul class="slides">
      <li>
        <img src="../assets/images/slider3.jpg">
        <!-- random image -->
        <div class="caption center-align">
          <h3>Bienvenidos a PETSBOOK</h3>
          <h5 class="light grey-text text-lighten-3">Huellitas en busca de hogar.</h5>
          <div class="row center-align">
            <div class="col offset-s4 s4 m12 offset-l4 l4">
              <button class="btn waves-effect waves-light btn-register"  type="submit" name="action">Registrate</button>
            </div>
          </div>
        </div>
      </li>
      <li>
        <img src="../assets/images/slider1.jpg">
        <!-- random image -->
        <div class="caption left-align">
          <div class="row center-align">
            <div class="col offset-s4 s4 m12 offset-l4 l4">
              <button class="btn waves-effect waves-light btn-register"  type="submit" name="action">Registrate</button>
            </div>
          </div>
        </div>
      </li>
      <li>
        <img src="../assets/images/slider5.jpeg">
        <!-- random image -->
        <div class="caption right-align">
          <div class="row center-align">
            <div class="col offset-s4 s4 m12 offset-l4 l4">
              <button class="btn waves-effect waves-light btn-register"  type="submit" name="action">Registrate</button>
            </div>
          </div>
        </div>
      </li>
      <li>
        <img src="../assets/images/slider6.jpg">
        <!-- random image -->
        <div class="caption center-align">
          <div class="row center-align">
            <div class="col offset-s4 s4 m12 offset-l4 l4">
              <button class="btn waves-effect waves-light btn-register" id="btn-register" type="submit" name="action">Registrate</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
  <!--Import materialize.js-->
  <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
  <!--Import Firebase-->
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <!-- login.js-->
  <script type="text/javascript" src="../js/homepage.js"></script>
</body>

</html>