<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>PETSBOOK</title>
	<!--Import Favicon-->
	<link href="../assets/images/favicon.png" type="image/x-icon" rel="shortcut icon" />
	<!--Import Icons-->
	<link href="../https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!--Import materialize.css-->
	<link href="../vendors/materialize/css/materialize.css" type="text/css" rel="stylesheet" />
	<!-- Import style.css-->
	<link href="../css/main.css" type="text/css" rel="stylesheet">
</head>

<body class="">
	<!-- Vista login-->
	<section>
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l12">
					<div class="logo flex-center">
						<img class="responsive-img" src="../assets/images/logo.png" alt="">
					</div>
				</div>
			</div>
			<div class="row">
				<form class="col offset-s1 s10 m12 l12">
					<div class="row">
						<div class="input-field col s12 m12 l12">
							<input id="username" class="validate" type="text" data-length="10">
							<label for="input_text">Usuario huellita:</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12 m12 l12">
							<input id="password" class="validate" type="password">
							<label for="password">Contraseña</label>
						</div>
					</div>
				</form>
				<div class="row">
					<div class="col offset-s4 s4 m12 l12">
						<button class="btn waves-effect waves-light" type="submit" name="action">Iniciar sesión</button>
					</div>
				</div>
			</div>
			<div class="row center-align">
				<div class="col offset-s3 s6 m12 l12">
					<div class="">
						<a href="#">Crear una cuenta nueva</a>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
	<!--Import materialize.js-->
	<script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
	<!-- app.js-->
	<script type="text/javascript" src="../js/login.js"></script>
</body>

</html>