<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>PETSBOOK</title>
	<!--Import Favicon-->
	<link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon" />
	<!--Import Icons-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!--Import materialize.css-->
	<link href="../vendors/materialize/css/materialize.css" type="text/css" rel="stylesheet" />
	<!-- Import style.css-->
	<link rel="stylesheet" type="text/css" href="../css/photos.css">
</head>

<body>
  <section>
    <div class="container">
      <div class="row">
        <div class="col s2">
          <label class="label-icon return-icon" for="return"><i class="material-icons paddingtop">arrow_back</i></label>
        </div>
        <div class="col s10">
          <div class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
           </div>
        </div>
      </div>
      <div class="row">
        <div class="offset-s1 col s10">
          <div class="upload">
            <form action="#">
              <div class="file-field input-field">
                <div class="btn upload-icon">
                  <span><i class="material-icons">add_a_photo</i></span>
                  <input type="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s8">
          <div class="title">
            <span>ULTIMAS FOTOS SUBIDAS</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="photo-container flexbox">
            <figure class="square z-depth-3"><img src="../assets/images/perro.png" alt="" class="responsive-img"></figure>
            <figure class="square z-depth-3"><img src="../assets/images/perro.png" alt="" class="responsive-img"></figure>
            <figure class="square z-depth-3"><img src="../assets/images/perro.png" alt="" class="responsive-img"></figure>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="title">
            <span>FOTOS DE PERFIL</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="photo-container flexbox">
            <figure class="square z-depth-3"><img src="../assets/images/perro.png" alt="" class="responsive-img"></figure>
            <figure class="square z-depth-3"><img src="../assets/images/perro.png" alt="" class="responsive-img"></figure>
            <figure class="square z-depth-3"><img src="../assets/images/perro.png" alt="" class="responsive-img"></figure>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="title">
            <span>FOTOS DE LA BIOGRAFIA</span>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col s12">
            <div class="photo-container flexbox">
              <figure class="square z-depth-3"><img src="../assets/images/perro.png" alt="" class="responsive-img"></figure>
              <figure class="square z-depth-3"><img src="../assets/images/perro.png" alt="" class="responsive-img"></figure>
              <figure class="square z-depth-3"><img src="../assets/images/perro.png" alt="" class="responsive-img"></figure>
            </div>
          </div>
        </div>
    </div>
  </section>

	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
	<!--Import materialize.js-->
	<script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
	<!-- app.js-->
	<script type="text/javascript" src="../js/photos.js"></script>
</body>

</html>