<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>PETSBOOK</title>
	<!--Import Favicon-->
	<link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon" />
	<!--Import Icons-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!--Import materialize.css-->
	<link href="../vendors/materialize/css/materialize.css" type="text/css" rel="stylesheet" />
	<!-- Import style.css-->
	<link rel="stylesheet" type="text/css" href="../css/profile.css">
</head>

<body>
  <!-- Vista Perfil -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col s2 m12 l12">
            <div>
              <label class="label-icon" for="return"><i class="material-icons">arrow_back</i></label>
            </div>
          </div>
          <div class="col s10 m12 l12">
           <div class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
           </div>
          </div>
        </div>
        <div class="row">
          <div class="col s4 m12 l12">
            <div class="avatar">
              <img src="../assets/images/dog-perfil.jpg" alt="" class="responsive-img avatar circle">
            </div>
          </div>
          <div class="offset-s1 col s3">
            <div class="followers-container">
              <span class="counter" data-followers="20">20</span>
              <p>Huellidores</p>
            </div>
          </div>
          <div class="col s4">
            <div class="following-container">
              <span class="counter" data-following="20">20</span>
              <p>Huellidos</p>
            </div>
          </div>
          <div class="offset-s5 col s4">
              <div class="selector">
                <span>Me adoptaron</span>
              </div>
          </div>
          <div class="col s3">
            <div class="switch">
                  <label>
                    <input type="checkbox">
                    <span class="lever"></span>
                  </label>
                </div>
          </div>
        </div>
        <div class="row">
          <div class="col s8">
            <h5>HUELLITA</h5>
          </div>
        </div>
        <div class="row">
          <div class="offset-s4 col s8 pull-right">
            <p>"soy..."</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="photos-container">
             <figure class="square"></figure>
             <figure class="square"></figure>
             <figure class="square"></figure>
            </div>
          </div>
        </div>
      </div>
    </section>
	

	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="vendors/js/jquery-3.2.1.min.js"></script>
	<!--Import materialize.js-->
	<script type="text/javascript" src="vendors/materialize/js/materialize.min.js"></script>
	<!-- app.js-->
	<script type="text/javascript" src="js/app.js"></script>
</body>

</html>