<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>PETSBOOK</title>
	<!--Import Favicon-->
	<link href="../assets/images/favicon.png" type="image/x-icon" rel="shortcut icon" />
	<!--Import Icons-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!--Import materialize.css-->
	<link href="../vendors/materialize/css/materialize.css" type="text/css" rel="stylesheet" />
	<!-- Import style.css-->
	<link rel="stylesheet" type="text/css" href="../css/profile.css">
</head>

<body>
	<!-- Vista Perfil -->
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<ul>
					<li>
						<label class="label-icon return-icon" for="return">
							<i class="material-icons padding-arrow">arrow_back</i>
						</label>
					</li>
					<li class="row">
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<section>
		<div class="container">
			<div class="row">
				<div class="col s4 m4 l4">
					<div class="avatar-container center-align">
						<img src="../assets/images/dog-perfil.jpg" alt="" class="avatar-lg circle margin-top">
					</div>
				</div>
				<div class="col offset-s1 s4 l4">
					<div class="followers-container center-align margin-top padding">
						<span class="counter" data-followers="20">20</span>
						<p>Huellidores</p>
					</div>
				</div>
				<div class="col s3 l4">
					<div class="following-container center-align margin-top padding">
						<span class="counter" data-following="20">20</span>
						<p>Huellidos</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s4 l4">
					<span class="username center-align">
						<p>Huellita</p>
					</span>
				</div>
				<!-- indicador de estado de adopcion -->
				<div class="col offset-s1 s7 offset-l4 l4">
					<div class="selector">
						<span>Me adoptaron</span>
						<div class="switch">
							<label>
								<input type="checkbox">
								<span class="lever"></span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row padding">
				<form class="col s12 l12">
					<div class="row">
						<div class="input-field col s12 l12">
							<textarea id="icon_prefix2" class="materialize-textarea"></textarea>
							<label for="icon_prefix2">Pensamientos que dejan huella</label>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- mini galeria de fotos -->
		<div class="card-panel teal accent-3">
			<div class="photos-container">
				<figure class="square z-depth-3 center-align">
					<img class="square z-depth-3 center-align" src="../assets/images/selfie-mascota.jpg" alt="">
				</figure>
				<figure class="square z-depth-3"></figure>
				<figure class="square z-depth-3"></figure>
				<figure class="square z-depth-3 hide-on-small-only"></figure>
				<figure class="square z-depth-3 hide-on-small-only"></figure>
			</div>
		</div>
		<!-- tabs -->
		<div class="row">
			<div class="col s12 m12 l12">
				<ul id="tabs-swipe" class="tabs tab-btn">
					<li class="tab col s4 l4">
						<a class="active" href="#notices">HuelliNotas</a>
					</li>
					<li class="tab col s4 l4">
						<a href="#photos">HuelliFotos</a>
					</li>
					<li class="tab col s4 l4">
						<a href="#contacts">HuelliAmigos</a>
					</li>
				</ul>
				<div id="notices" class="col s12"></div>
				<div id="photos" class="col s12"></div>
				<div id="contacts" class="col s12"></div>
			</div>
		</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l12">
					<div class="row padding">
						<div class="input-field col s12 pull-right ">
							<br>
							<textarea id="textarea-1" class="materialize-textarea padding">
							</textarea>
							<label class="padding-bottom" for="textarea-1">
								<img src="../assets/images/dog-perfil.jpg" alt="" class="circle avatar-xs padding"> Mis HuelliPensamientos:
							</label>
						</div>
						<div class="col offset-s5 s8 m12 offset-l8 l4">
							<button class="btn waves-effect waves-light modal-trigger" id="" type="submit" data-target="modalimg" name="action">
								<i class="material-icons">photo</i>
							</button>
							<!-- Modal Structure -->
							<div id="modalimg" class="modal">
								<div class="modal-content">
									<div class="file-field input-field">
										<div class="btn">
											<span>File</span>
											<input type="file">
										</div>
										<div class="file-path-wrapper">
											<input class="file-path validate" type="text">
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button class="btn waves-effect waves-light" id="btn-addimg" type="submit" name="action">
										<i class="material-icons">pets</i>
									</button>
								</div>
							</div>
							<button class="btn waves-effect waves-light" id="btn-post" type="submit" name="action">
								<i class="material-icons">pets</i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row padding">
					<div class="col s12 m12 l12">
						<div id="publication">
						</div>
					</div>
				</div>
			</div>
	</section>
	<!--Import Firebase-->
	<!--<script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>-->
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
	<!--Import materialize.js-->
	<script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
	<!-- login.js-->
	<script type="text/javascript" src="../js/profile.js"></script>
</body>

</html>