<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>PETSBOOK</title>
	<!--Import Favicon-->
	<link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon" />
	<!--Import Icons-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!--Import materialize.css-->
	<link href="../vendors/materialize/css/materialize.css" type="text/css" rel="stylesheet" />
	<!-- Import style.css-->
	<link rel="stylesheet" type="text/css" href="../css/profile.css">
</head>

<body>
  <!-- Vista Perfil -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col s2 m12 l12">
            <label class="label-icon return-icon" for="return"><i class="material-icons padding">arrow_back</i></label>
          </div>
          <div class="col s10 m12 l12">
           <div class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
           </div>
          </div>
        </div>
        <div class="row">
          <div class="col s4 m12 l12">
            <div class="avatar-container">
              <img src="../assets/images/dog-perfil.jpg" alt="" class="avatar-lg circle">
            </div>
          </div>
          <div class="offset-s1 col s4">
            <div class="followers-container center-align padding2em">
              <span class="counter" data-followers="20">20</span>
              <p>Huellidores</p>
            </div>
          </div>
          <div class="col s3">
            <div class="following-container center-align padding2em">
              <span class="counter" data-following="20">20</span>
              <p>Huellidos</p>
            </div>
          </div>          
        </div>
        <div class="row">
          <div class="col s5">
            <span class="username center-align">
              <p>Huellita</p>
            </span>
          </div>
          <!-- indicador de estado de adopcion -->
          <div class="offset-s1 col s6">
            <div class="selector center-align">
              <span>Busco un Hogar</span>
              <div class="switch">
                <label>
                  <input type="checkbox">
                  <span class="lever"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="offset-s4 col s8 pull-right">
            <p>"soy..."</p>
          </div>
        </div>
      </div>
      <!-- mini galeria de fotos -->
      <div class="container">
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="photos-container">
             <figure class="square z-depth-3"><img src="../assets/images/perro.png" alt="" class="responsive-img"></figure>
             <figure class="square z-depth-3"></figure>
             <figure class="square z-depth-3"></figure>
            </div>
          </div>
        </div>
        <!-- tabs -->
        <div class="row">
          <div class="col s12 m12 l12">
              <ul id="tabs-swipe" class="tabs tab-btn">
                  <li class="tab col s4"><a href="#notices">huelliNotas</a></li>
                  <li class="tab col s4"><a class="active" href="#photos">HuelliFotos</a></li>
                  <li class="tab col s5"><a href="#contacts">HuelliAmigos</a></li>
                </ul>
                <div id="notices" class="col s12"></div>
                <div id="photos" class="col s12"></div>
                <div id="contacts" class="col s12"></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="row">
              <div class="input-field col s12 pull-right ">
                <textarea id="textarea-1" class="materialize-textarea"></textarea>
                <label for="textarea-1"><img src="../assets/images/dog-perfil.jpg" alt="" class="circle avatar-xs">Mis HuelliPensamientos</label>
              </div>
              <span class="col s6"><i class="material-icons">add_a_photo</i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col s12 m12 lg12">
              <div class="card horizontal">
                  <!-- Card Content -->
                <div class="avatar-container-2">
                  <img src="../assets/images/dog-perfil.jpg" alt="" class="circle avatar-xs">
                  <span><p>Huellitas</p></span>
                  <span><p>Hoy a las 12:30</p></span>
                </div>
                <div class="container-text offset col s12 padding2em">
                  <p>esta es una publicacion de prueba</p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
	

	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
	<!--Import materialize.js-->
	<script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
	<!-- app.js-->
	<script type="text/javascript" src="../js/profile.js"></script>
</body>

</html>