<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>PETSBOOK</title>
	<!--Import Favicon-->
	<link href="../assets/images/favicon.png" type="image/x-icon" rel="shortcut icon" />
	<!--Import Icons-->
	<link href="../https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!--Import materialize.css-->
	<link href="../vendors/materialize/css/materialize.css" type="text/css" rel="stylesheet" />
	<!-- Import style.css-->
	<link href="../css/welcome.css" type="text/css" rel="stylesheet">
</head>

<body class="">
	<!-- Vista register-->
	<section>
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l12 center-align">
				<span><h4>BIENVENIDOS</h4></span>
				</div>
			</div>
			<div class="row">
				<div class="col s12 n12 l12 center-align">
					<h4>A</h4>
				</div>
			</div>
			<diw class="row">
				<div class="col s12">
					<div class="logo-container">
						<img src="../assets/images/logo.png" alt="" class="responsive-img canva">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m12 l12 center-align">
					<span><h4>PETSBOOK</h4></span>
				</div>
			</div>
		</div>
	</section>


	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
	<!--Import materialize.js-->
	<script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
	<!-- app.js-->
	<script type="text/javascript" src="../js/login.js"></script>
</body>

</html>